*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{
    background:#111827;
    color:white;
}


.app-container{
    display:flex;
    min-height:100vh;
}


/* SIDEBAR */

.sidebar{

    width:240px;
    background:#1f2937;
    padding:25px;
    display:flex;
    flex-direction:column;

}


.logo{

    text-align:center;
    color:#ff2d75;
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;

}


.logo span{

    display:block;
    color:white;
    font-size:14px;
    margin-top:5px;

}


.menu{

    display:flex;
    flex-direction:column;
    gap:12px;

}


.menu-item{

    background:#374151;
    color:white;
    border:none;
    padding:13px;
    border-radius:10px;
    cursor:pointer;
    text-align:left;
    font-size:15px;

}


.menu-item:hover,
.menu-item.active{

    background:#ff2d75;

}


.sidebar-footer{

    margin-top:auto;
    text-align:center;
    color:#ccc;

}


/* MAIN */


.main-content{

    flex:1;
    padding:30px;

}


.top-header{

    margin-bottom:25px;

}


.top-header h1{

    color:#ff2d75;

}


.top-header p{

    color:#ccc;

}



/* CARDS */


.card{

    background:#1f2937;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;

}



label{

    display:block;
    margin-bottom:10px;
    font-weight:bold;

}



textarea,
select,
input[type=file]{


    width:100%;
    padding:14px;

    background:#374151;
    color:white;

    border:none;
    border-radius:10px;

}



textarea{

    height:120px;
    resize:none;

}



/* GRID */


.settings-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;

}



/* BUTTONS */


.primary-btn,
.secondary-btn{

    padding:14px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-size:16px;

}


.primary-btn{

    background:#ff2d75;

}


.secondary-btn{

    background:#374151;

}


.primary-btn:hover,
.secondary-btn:hover{

    opacity:.8;

}



.generate-area{

    display:flex;
    gap:15px;

}


.generate-area button{

    flex:1;

}



/* RESULT */


.result-box{

    background:#111827;
    min-height:120px;
    padding:20px;
    border-radius:10px;

}


.loading{

    margin:15px 0;

}


.hidden{

    display:none;

}



.status-item{

    display:flex;
    justify-content:space-between;
    margin-top:15px;

}




/* MOBILE */


@media(max-width:768px){


.app-container{

    display:block;

}


.sidebar{

    width:100%;

}


.settings-grid{

    grid-template-columns:1fr;

}


.generate-area{

    flex-direction:column;

}


.main-content{

    padding:15px;

}


    }
